@import "material-design-lite/src/color-definitions";

// Application personal colors
$color-primary: "40,56,151";

$color-text-light: "243,243,244";
$color-text: "155,160,168";
$color-text-darker : "117,121,128";
$color-text-dark : "0,0,0";

$color-text-box: "245,245,245";

$margin-bottom-default: 20px;
$margin-bottom-light: 10px;

